#banner {
    color: gold;
    background-color: navy;
    border: gold 2px solid;
}

#banner {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    object-position: center;
    
}
#banner span {
    font-size: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    margin: auto auto 4px auto;
}

#leftlogo {
    position: absolute;
    top: 21px;
    left: 75px;
    width: 140px;
}

#rightlogo {
    position: absolute;
    top: 21px;
    right: 75px;
    width: 140px;
}

#banner p {
    margin: 4px;
}

#latin {
    text-align: center;
    font-size: 20px;
    
    
}

#year {
    text-align: center;
    font-size: 14px;
    font-family: Lucida;
    text-decoration: underline overline gold solid;
}

#navtop li {
    color: gold;
    border: 2px solid gold;
    display: inline;
    flex-flow: row wrap;
    background-color: navy;
    font-size: 35px;
    padding: 8px 12px; 
    font-family: Helvetica;
    margin: 6px;  

}

nav {
    text-align: center;
    height: 50px;
}

img {
    border: 2px navy;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

html {
    background-color: maroon;
}